---

import BaseLayout from '../layouts/BaseLayout.astro';

const title = 'Welcome to my test site';
---

<BaseLayout title={title}>
	<main>
		<h1 class="text-2xl">Welcome!</h1>
	</main>
</BaseLayout>
