---

const today = new Date();
---

<footer>
	<!-- &copy;  -->
	Built {today.getFullYear()} by 
	<a href="https://haydentomas.com">Hayden Tomas</a>

	<a href="https://buymeacoffee.com/sureshkhirwadkar" style="color:black; margin-left: 10px;"><h2>buy me a beer</h2></a>
</footer>

