---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import '@fontsource/cabin'

---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="description" content="Astro description">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/favicon.svg" type="image/svg+xml">
<meta name="generator" content={Astro.generator}>
  <title>Document</title>
</head>
<body class="site">
  <Header />
<div class="container site-content">
  <slot />
</div>
<Footer />
</body>
</html>

<style>
  .site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site-content {
  flex: 1;
}
</style>